@import "~bootstrap/scss/bootstrap.scss";


body{
    background-color: rgba(8, 8, 8, 0.521);
}

.myTrafficLight{
    width: 15rem;
}

.light {
    z-index: 99 !important;
    margin-left: 3rem;
}


#trafficLightPoster{
    height: 6rem;
    width: 3rem;
}

